/*/////////////*/
/*Layout Styles*/
/*/////////////*/

body {
	font-family: sans-serif;
	background: #F2F2ED;
	line-height: 1.6em;
}

a:link {
	color: #568A34;
	text-decoration: none;
}
a:visited {
	color: #568A34;
}
a:hover {color: red;}
a:active {color: yellow;}

h1 .small {
	font-size: 1rem;
}

.head-link {
	color: inherit !important;
}
.head-link.a:hover {
	color: #9E9E9E;
}

.block-text {
	line-height: 1.6em;
}

.container {
	width: 80%;
	min-width: 1024px;
	margin: 3rem auto;
	padding: 2rem;
}
.left-col {
	max-width: 70%;
	clear: none;
	float: left;
}

.right-col {
	width: 20%;
	margin-left: 1rem;
	clear: none;
	float: left;
	background: #FFFFFC;
	padding: 2.5rem 1rem;
}

.right-col ul {
	list-style-type: none;
	padding: 0 1rem;
}


.post {
	padding: 0.5rem 2rem 1rem 2rem;
}

.post.intro {
	background: #FFFFFC;
	border-radius: 20px;
	margin-bottom: 1rem;
}

.post.technical {
	background: #EDE9DF;
}

.post.cultural {
	background: #E7F2D8;
}

img.thumbnail {
	max-width: 80%;
	display: block;
	margin: 1rem auto 2rem auto;
	padding: 1rem;
	border-radius: 1rem;
	border-style: solid;
	border-color: #888F8D;
	border-width: 1px;

}

