
body {
	background: #F2F2ED;
}

.container {
	width: 70%;
	margin: 3rem auto;
	padding: 2rem;
}

#big-header {
	color: red;
	font-weight: bold;
	text-align: center;
}

.body-paragraph {
	color: #005E4A;
	font-family: sans-serif;
	line-height: 1.5rem;
	max-width: 25rem;
}